{% if article.commentaires | length >= 1 %}
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCommentaires" aria-expanded="false" aria-controls="collapseCommentaires">
            {{ article.commentaires | length }}
            commentaire{% if article.commentaires | length > 1 %}s {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
            </svg>
        </button>
    </div>
    <div class="collapse" id="collapseCommentaires">
        <div class="card card-body border-0">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="list-group">
                        {% for commentaire in article.commentaires %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    {% if commentaire.auteur is null %}
                                        <h5 class="mb-1">Anonyme</h5>
                                    {% else %}
                                        <h5 class="mb-1">{{ commentaire.auteur.pseudo }}</h5>
                                    {% endif %}
                                    <small class="text-muted">{{ commentaire.createdAt.format('d/m/Y') }}</small>
                                </div>
                                <p class="mb-1">{{ commentaire.contenu }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}