<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Essaie d'envoie d'un email</h1>
    <p>Bonjour {{ nom|upper }} {{ prenom|capitalize }},</p>
    <p>Ceci est un test d'envoie d'email à partir d'un template.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aperiam architecto error illo
        neque non provident. Corporis, cumque cupiditate dolores excepturi exercitationem laudantium
        officia officiis quam, sint soluta veritatis?
    </p>
</body>
</html>